spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/user_management
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true

server:
  port: 8080
